Cronograma 2023.pdf
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Presentación.pdf
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Ejemplos/ej12.py
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Ejemplos/ejercicio_7_p3.py
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Ejemplos/Explicación práctica de GIT.pdf
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Ejemplos/slides.pdf
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Entregables/Primer entregable.txt
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Entregables/Segundo entregable.txt
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Práctica/practica1.pdf
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Práctica/practica2.pdf
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Práctica/practica3.pdf
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Teoría/clase5.pdf
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Teoría/clase8.pdf
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Trabajo Final/Python2019.pdf
Apuntes Franja - Seminario/Seminario de Lenguajes/Opción Python/Trabajo Final/Trabajo Final 2019.pdf
teorias/videos/Clase 1_cadenas.mp4
teorias/videos/Clase 1.mp4
teorias/videos/Clase 2_1_Funciones.mp4
teorias/videos/Clase 2_2_Conjuntos.mp4
teorias/videos/Clase 2.mp4
teorias/videos/Clase 3_1_modulos.mp4
teorias/videos/Clase 3.mp4
